.App{
  margin: 0;
  padding: 0;
}
.Product{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin: auto;
}
.head{
  text-align: center;
  margin: 15px 0px;
}